source https://www.nuget.org/api/v2/

storage: none
nuget Expecto
nuget FAKE
nuget FSharp.Core
nuget Fable.Core
nuget Fable.PowerPack
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.TestHost
nuget Newtonsoft.Json
nuget NUnit
nuget Suave
nuget Giraffe ~> 1.0.0
nuget Saturn
nuget Microsoft.CSharp
clitool dotnet-fable

group Build
    framework >= net45
    source https://www.nuget.org/api/v2
    nuget FAKE