version 6.2.1
source https://api.nuget.org/v3/index.json

storage: none
lowest_matching: true
nuget benchmarkdotnet
nuget Expecto
nuget FSharp.Core ~> 4.7.2
nuget Microsoft.AspNetCore.Server.Kestrel ~> 2.2
nuget Microsoft.AspNetCore.TestHost ~> 3.1
nuget Microsoft.IO.RecyclableMemoryStream ~> 2
nuget Newtonsoft.Json
nuget NUnit
nuget PuppeteerSharp
nuget Suave
nuget Giraffe

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem

group FunctionsWorker
    source https://api.nuget.org/v3/index.json
    framework: net5
    storage: none
    lowest_matching: true
    nuget Microsoft.Azure.Functions.Worker
    nuget Microsoft.Azure.Functions.Worker.Sdk
    nuget Microsoft.Azure.Functions.Worker.Extensions.Http
    nuget FSharp.Core ~> 5.0
    nuget Newtonsoft.Json
    nuget Expecto

group LatestNet5
    source https://api.nuget.org/v3/index.json
    framework: net5
    storage: none
    lowest_matching: true
    nuget Giraffe 5.0.0
    nuget FSharp.Core ~> 5.0
    nuget Microsoft.IO.RecyclableMemoryStream ~> 2

group Client
    source https://api.nuget.org/v3/index.json
    lowest_matching: true
    nuget Fable.Mocha >= 2.5
    nuget Fable.SimpleJson >= 3.22.0
    nuget Fable.Browser.XMLHttpRequest
    nuget Fable.Core